[submodule "external/iPlug2"]
	path = external/iPlug2
	url = https://github.com/cycfi/iPlug2.git
[submodule "external/VST3_SDK"]
	path = external/VST3_SDK
	url = https://github.com/steinbergmedia/vst3sdk.git
[submodule "external/msgpack-c"]
	path = external/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
[submodule "lib/infra"]
	path = lib/infra
	url = https://github.com/cycfi/infra
[submodule "lib/q"]
	path = lib/q
	url = https://github.com/cycfi/Q.git
[submodule "lib/elements"]
	path = lib/elements
	url = https://github.com/cycfi/elements.git
