[submodule "lib/infra"]
	path = lib/infra
	url = https://github.com/cycfi/infra
[submodule "lib/q"]
	path = lib/q
	url = https://github.com/cycfi/Q.git
[submodule "lib/elements"]
	path = lib/elements
	url = https://github.com/cycfi/elements.git
[submodule "lib/clap"]
	path = lib/clap
	url = https://github.com/cycfi/clap.git
[submodule "lib/clap-wrapper"]
	path = lib/clap-wrapper
	url = https://github.com/cycfi/clap-wrapper.git
